html {
	font-size: 10px;
}

body {
	background: #ffc600;
	font-weight: 200;
	font-size: 20px;
}

.words {
	max-width: 500px;
	margin: 50px auto;
	background: white;
	border-radius: 5px;
}

p {
	padding: 10px 15px;
	margin: 0;
	border-bottom: 1px solid silver;
}